<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tlh.club_system.mapper.RecruitPlanMapper">

    <resultMap id="BaseResultMap" type="com.tlh.club_system.entity.RecruitPlan">
            <id property="planId" column="plan_id" />
            <result property="clubId" column="club_id" />
            <result property="title" column="title" />
            <result property="positions" column="positions" />
            <result property="requirements" column="requirements" />
            <result property="startTime" column="start_time" />
            <result property="endTime" column="end_time" />
            <result property="status" column="status" />
    </resultMap>

    <sql id="Base_Column_List">
        plan_id,club_id,title,positions,requirements,start_time,
        end_time,status
    </sql>

    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from tb_recruit_plan
        where  plan_id = #{planId} 
    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
        delete from tb_recruit_plan
        where  plan_id = #{planId} 
    </delete>
    <insert id="insert" keyColumn="plan_id" keyProperty="planId" parameterType="com.tlh.club_system.entity.RecruitPlan" useGeneratedKeys="true">
        insert into tb_recruit_plan
        ( plan_id,club_id,title,positions,requirements,start_time,
        end_time,status)
        values (#{planId},#{clubId},#{title},#{positions},#{requirements},#{startTime},
        #{endTime},#{status})
    </insert>
    <insert id="insertSelective" keyColumn="plan_id" keyProperty="planId" parameterType="com.tlh.club_system.entity.RecruitPlan" useGeneratedKeys="true">
        insert into tb_recruit_plan
        <trim prefix="(" suffix=")" suffixOverrides=",">
                <if test="planId != null">plan_id,</if>
                <if test="clubId != null">club_id,</if>
                <if test="title != null">title,</if>
                <if test="positions != null">positions,</if>
                <if test="requirements != null">requirements,</if>
                <if test="startTime != null">start_time,</if>
                <if test="endTime != null">end_time,</if>
                <if test="status != null">status,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
                <if test="planId != null">#{planId},</if>
                <if test="clubId != null">#{clubId},</if>
                <if test="title != null">#{title},</if>
                <if test="positions != null">#{positions},</if>
                <if test="requirements != null">#{requirements},</if>
                <if test="startTime != null">#{startTime},</if>
                <if test="endTime != null">#{endTime},</if>
                <if test="status != null">#{status},</if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.tlh.club_system.entity.RecruitPlan">
        update tb_recruit_plan
        <set>
                <if test="clubId != null">
                    club_id = #{clubId},
                </if>
                <if test="title != null">
                    title = #{title},
                </if>
                <if test="positions != null">
                    positions = #{positions},
                </if>
                <if test="requirements != null">
                    requirements = #{requirements},
                </if>
                <if test="startTime != null">
                    start_time = #{startTime},
                </if>
                <if test="endTime != null">
                    end_time = #{endTime},
                </if>
                <if test="status != null">
                    status = #{status},
                </if>
        </set>
        where   plan_id = #{planId} 
    </update>
    <update id="updateByPrimaryKey" parameterType="com.tlh.club_system.entity.RecruitPlan">
        update tb_recruit_plan
        set 
            club_id =  #{clubId},
            title =  #{title},
            positions =  #{positions},
            requirements =  #{requirements},
            start_time =  #{startTime},
            end_time =  #{endTime},
            status =  #{status}
        where   plan_id = #{planId} 
    </update>

    <select id="selectAll" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from tb_recruit_plan
    </select>
</mapper>
